.bg-pattern-dots {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    background-color: inherit;
    background-position: 0 0, calc(5 * 1px) calc(5 * 1px);
    background-blend-mode: difference;
    opacity: 0.05;
  }
  
  .bg-pattern-grid {
    background-image: 
      linear-gradient(to right, currentColor 1px, transparent 1px),
      linear-gradient(to bottom, currentColor 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: inherit;
    opacity: 0.03;
  }